<header>
  <div class="logo">
    <img src="/images/logo.png" alt="FreeGamesOnline.ee Logo" height="40">
  </div>
  <div style="display: flex; gap: 1rem; align-items: center;">
    <div class="search-icon" onclick="toggleSearch()">
      <ion-icon name="search-outline" size="large"></ion-icon>
    </div>
    <div class="mode-toggle" onclick="toggleDarkMode()">
      <ion-icon id="modeIcon" name="moon-outline" size="large"></ion-icon>
    </div>
  </div>
</header>

<div class="search-bar" id="searchBar">
  <form action="/results.html" action="GET">
<input type="text" placeholder="Search games..." name="keywords">
  </form>
</div>
