<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FreeGamesOnline.ee - {{ page.title }}</title>
  <meta name="description" content="FreeGamesOnline.ee is the go-to destination for players who love free, high-quality games available instantly in the browser. Whether you're into fast-paced action, brain-teasing puzzles, or relaxing casual games, our platform delivers an unbeatable experience.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/slider.js" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

{% include mobile_ad.html %}

{% include header.html %}

{{ content }}

{% include footer.html %}

<script src="assets/js/main.js"></script>
<script type='text/javascript' src='//pl26549149.profitableratecpm.com/a9/7d/9b/a97d9b20bc1e3b558aa43bf994625fe8.js'></script>
</body>
</html>
